* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --primary-color: #0779e4;
}
body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
/* Common */
.main-content {
    width: 1020px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
.fixed {
    position: sticky;
    top: 0;
    z-index: 1;
}
.btn {
    position: relative;
    border: none;
    background: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 16px;
    color: #777777;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;

}

.btn.active {
    background: var(--primary-color);
    color: #fff;
}
.btn.active::after {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: -2px;
    left: 47%;
    width: 6px;
    height: 6px;
    background: var(--primary-color);
    transform: rotate(45deg);
}
/* ================= Header ================= */

.header {
        background: linear-gradient(to right, #2c66e3,  #00d4ff);
}
.header .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.header .logo {
    color: #fff;
    font-style: 2rem;
    font-weight: 800;
    line-height: 1.3;
}
.header .nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .nav .item {
    color: #fff;
    padding: 26px 25px;
    opacity: 0.7;
    font-size: 1.5rem;
}
.header .nav .item:hover,
.header .nav .item.active {
    opacity: 1;
    background: rgba(255, 255, 255, 0.3);
}
/* ================= Home ================= */
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #2c66e3,  #00d4ff);
}
.home .heading {
    font-size: 6rem;
    line-height: 1.2;
    margin: auto;
    color: #fff;
}
.home .desc {
    margin-top: 30px;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.8);
}
.home .social {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.social .link {
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
/* ================= About ================= */
.about {
    background: #f8f8f8;
}
.about .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 128px 0;
    gap: 48px;
}
.about .social-block {
    width: 46.7%;
}
.about .social-block .img {
    width: 100%;
}
.about .content-block {
    width: 47.5%;
    margin-left: auto;
    
}
.about .content-block .info {
    padding: 24px 0;
    display: none;
}
.about .content-block .info.active {
    display: block;
}
.about .content-block .info .title {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.4;
}
.about .content-block .info .desc {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #999999;
}
.about .stat {
    width: 50%;
    margin-top: 48px;
}
.about .stat .label {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}
.about .stat .label span {
    font-weight: 500;
    color: var(--primary-color);
}
.about .stat .progress {
    margin-top: 10px;
    width: 100%;
    height: 8px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.progress .progress-bar {
    width: 30%;
    height: 8px;
    background: var(--primary-color);
    border-radius: 1px;
}
.about .info h4 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
}

.projects {
    background: #f8f8f8;
    padding: 128px 0;
}
.projects .heading {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.4;
    text-align: center;
}
.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.projects .item {
    width: 70%;
    position: relative;
    text-align: center;
    margin-top: 48px;
}
.projects .img {
    width: 100%;

}
.projects .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
}
.projects .item:hover .img {
    opacity: 0.3;
}
.projects .item:hover .overlay {
    display: flex;
    opacity: 1;
}
.projects .info {
    display: flex;
    flex-direction: column;
    padding: 157px 0;
}
.projects .info .label {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 2rem;
    color: #fff;
}
.projects .info span {
    margin-top: 12px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);

}